{% extends "admin_base.html" %}
{% block innhold %}
{% include "admin_deltaker_header.html" %}
{% include "admin_deltaker_faner.html" %}

<p style="margin-bottom:14px"><a class="knapp sekundar liten" href="{{ url_for('admin_epost_ny', kurs_id=kurs.id, paamelding_id=p.id) }}">Send e-post til {{ p.navn }}</a></p>

<p class="liten dempet">E-post sendt til {{ p.navn }} for dette kurset – automatisk og manuelt.</p>
<div class="tabellboks"><table>
  <tr><th>Type/emne</th><th>Sendt</th></tr>
  {% for m in meldinger %}
  <tr><td>{% if m.utsending_id %}<a href="{{ url_for('admin_epost_detalj', kurs_id=kurs.id, utsending_id=m.utsending_id) }}">{{ m.emne }}</a>{% else %}{{ m.type }}{% endif %}</td>
      <td class="liten dempet">{{ m.sendt_ts }}</td></tr>
  {% else %}<tr><td colspan="2" class="dempet">Ingen e-post sendt ennå.</td></tr>{% endfor %}
</table></div>
{% endblock %}
