<nav class="faner">
  <a class="{{ 'aktiv' if fane == 'oppsett' }}" href="{{ url_for('admin_kurs_oppsett', kurs_id=kurs.id) }}">Oppsett</a>
  <a class="{{ 'aktiv' if fane == 'nettside' }}" href="{{ url_for('admin_kurs_nettside', kurs_id=kurs.id) }}">Nettside</a>
  <a class="{{ 'aktiv' if fane == 'paameldingsskjema' }}" href="{{ url_for('admin_kurs_paameldingsskjema', kurs_id=kurs.id) }}">Påmeldingsskjema</a>
  <a class="{{ 'aktiv' if fane == 'kursside' }}" href="{{ url_for('admin_kursside', kurs_id=kurs.id) }}">Min side</a>
  <a class="{{ 'aktiv' if fane == 'deltakere' }}" href="{{ url_for('admin_kurs_deltakere', kurs_id=kurs.id) }}">Deltakere</a>
  <a class="{{ 'aktiv' if fane == 'kommunikasjon' }}" href="{{ url_for('admin_kurs_kommunikasjon', kurs_id=kurs.id) }}">Kommunikasjon</a>
  <a class="{{ 'aktiv' if fane == 'kursbevis' }}" href="{{ url_for('admin_kurs_kursbevis', kurs_id=kurs.id) }}">Kursbevis</a>
</nav>
