{% extends "admin_deltaker_ramme.html" %}
{% block deltakerinnhold %}
<div class="seksjonstopp">
  <p class="liten dempet">Alt som er registrert om denne påmeldingen, nyeste først.</p>
</div>
<div class="tabellboks"><table>
  <tr><th scope="col">Tid</th><th scope="col">Hvem</th><th scope="col">Hendelse</th><th scope="col">Detaljer</th></tr>
  {% for h in hendelser %}
  <tr><td class="liten dempet">{{ h.ts }}</td><td class="liten">{{ h.aktor }}</td><td>{{ h.handling }}</td><td class="liten dempet">{{ h.detaljer or '' }}</td></tr>
  {% else %}<tr><td colspan="4" class="dempet">Ingen hendelser registrert ennå.</td></tr>{% endfor %}
</table></div>
{% endblock %}
